.label {
    -fx-text-fill: blue;
}

.password-field {
    -fx-border-style: none none none solid;
    -fx-border-color: blue;
    -fx-background-color: AliceBlue;
}

.text-field {
    -fx-border-style: none none none solid;
    -fx-border-color: blue;
    -fx-background-color: AliceBlue;
}

.button {
    -fx-background-color: blue;
    -fx-background-radius: 5;
}

.pane {
    -fx-background-color: blue;
}